

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  font-family: 'VT323', monospace;
  user-select: none;
}

body {
  background: rgb(18,15,26);
background: radial-gradient(circle, rgba(18,15,26,1) 0%, rgba(46,34,55,1) 100%);
  background-size: cover;
}

#wrapper {
  display: table;
  margin: 0 auto;
  margin-top: 4em;
  text-align: center;
  
  
  
}

#cookie {
  max-width: 230px;
  width: 100%;
  display: table;
  margin: 0 auto;
  cursor: pointer;
  transition: .3s ease;
  border-radius: 25px;
  margin-top: 50px;
}

#cookie:hover {
  transform: scale(1.2);
  outline: 2px solid white;
  outline-offset: 10px;
}

#counter {
  font-size: 42px;
  text-align: center;
  color: white;
  transition: .2s ease;
  cursor: pointer;
}

#counter:hover {
  transform: scale(1.1);
}
