
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  font-family: 'VT323', monospace;
  user-select: none;
}

body {
  background-color: #232323;
  background-size: cover;
}

#wrapper {
  display: table;
  margin: 0 auto;
  margin-top: 4em;
}

#cookie {
  max-width: 200px;
  width: 100%;
  display: table;
  margin: 0 auto;
  cursor: pointer;
  transition: .3s ease;
}

#cookie:hover {
  transform: scale(1.2);
}

#counter {
  font-size: 42px;
  text-align: center;
  color: white;
  transition: .2s ease;
  cursor: pointer;
}

#counter:hover {
  transform: scale(1.1);
}
